<div class="row">
    <div class="col-sm-3">
        <div class="col-sm-6">
            <img src="http://dummyimage.com/100"/>
            <img src="http://dummyimage.com/100"/>
        </div>
        <div class="col-sm-6">
            <img src="http://dummyimage.com/100"/>
            <img src="http://dummyimage.com/100"/>
        </div>

    </div>

    <div class="col-sm-9">
        <div class="subtitle">PLAYLIST</div>
        <h1 style="font-weight: 300">[[list.title]]</h1>

        <div class="buttons">
            <a class="btn btn-xs btn-green" href="#">
                <i class="fa fa-play"></i> Play
            </a>
        </div>

    </div>

</div>