// btn-black

.btn-black
    color: #ffffff
    background-color: #000000
    border-color: #FFFFFF

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black 
    color: #ffffff
    background-color: #4A4A49
    border-color: #FFFFFF


.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black 
    background-image: none


.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active 
    background-color: #000000
    border-color: #FFFFFF


.btn-black .badge 
    color: #000000
    background-color: #ffffff

// end of btn-black

.btn
    &-green
        border: 2px solid color-green
        background color-green
        color: color-text-site
        &:hover
            border: 2px solid color-green
            background color-green + 40
            color: color-text-site

    &-border
        &-green
            border: 2px solid color-green
            background color-bg-site
            color: color-text-site
            &:hover
                border: 2px solid color-text-site
                background color-bg-site
                color: color-text-site