// Colors
color-bg-site = rgb(18 19 20)
color-bg-sidebar = rgb(34 35 38)

color-text-site = white
color-text-dark = rgb(143 149 148)

color-green = rgb(132 189 0)
color-green-light = rgb(132 189 0) + 20
color-red = rgb(251 95 73)

color-apple-red = color-red
color-apple-yellow = rgb(250 183 14)
color-apple-green = rgb(26 198 50)
// End Colors