html, body
    height: 100%
    font-family: 'Open Sans', sans-serif;
    background: color-bg-site
    font-size: 12px
    font-weight: 300

a
    color: color-text-site

    &:hover
        text-decoration: none
        color: color-text-site - 80

hr
    border-top: 1px solid color-bg-sidebar + 20

ul
    margin:0
    padding:0

.text-right
    text-align: right

.text-left
    text-align: left

.text-center
    text-align: center

.inline
    display: inline-block

.default
    margin: 0
    padding: 0

.btn-round
    border-radius 150px

.gapless [class^="col-"]
    margin: 0
    padding: 0

.hr-border
    border-top: 1px solid color-text-site - 180
    border-bottom: 1px solid color-text-site - 180