@import colors
@import navbar
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin,latin-ext');
@import buttons
@import dropdown
@import common

#layout
    width: 100%
    height: 100%
    .ui-layout-center, .ui-layout-east, .ui-layout-west
        padding-top: 55px !important
        padding-bottom: 50px !important
        background: color-bg-site !important
        color: color-text-site !important
        border: none !important
    .ui-layout
        width = 5px
        &-toggler
            width: width !important
            background: color-bg-sidebar + 20 !important
        &-resizer
            width: width !important
            background: color-bg-sidebar !important
            border: none !important
            cursor: col-resize !important

.ui-layout-west
    padding-left: 20px !important
    #addPlaylist
        margin: 30px 0
        .form-control
            margin: 10px 0

    ul
        margin: 0 0 30px 0
        list-style: none
    ul#browsemenu, ul#playlist
        li
            text-overflow: ellipsis
            white-space: nowrap
            width: 100%
            overflow: hidden
            margin: 7px 0
            font-size: 14px
            a
                text-decoration none
                &:hover
                    color: color-text-site + 20
            i
                margin: 0 10px 0 0
                width: 22px
                font-size: 16px

.form-control
    background: color-bg-sidebar + 20
    border: none
    color: white
    height: 23px
    font-size: 12px
    &:focus
        box-shadow: none
        outline: none

#playlist-detail
    .playlist-title
        h1
            margin-bottom: 50px
            font-weight: 300

    .playlist-info h5
        color: color-text-site - 100
        font-size: 13px
        a
            color: color-text-site

    .playlist-table
        font-size: 14px
        .table > thead > tr > th, .table > tbody > tr > td
            border-bottom: 1px solid color-bg-sidebar + 10

        .table > thead > tr > th
            text-transform: uppercase
            font-weight: 300

        .table tr
            font-weight: 400
            &.selected td
                background: color-bg-sidebar + 10
            &.playing td
                background: color-bg-sidebar + 10
                color: color-green

        .table-hover tr:hover td
            background: color-bg-sidebar

#footer-player
    position: fixed
    height: 50px
    width: 100%
    border-top: 1px solid color-bg-sidebar + 10
    background: color-bg-sidebar
    bottom: 0
    left: 0
    z-index: 5000
    .volume-controller
        margin: 20px 0 0 0
        position: relative
        i
            font-size: 16px
            color: white
            position: absolute
            top: 0px
            right: 0px
        .cdbl-slider
            width: 80%
        .ui-slider-range
            background: color-green
        .ui-slider-handle
            border: none
            background: color-text-dark
            border-radius: 50px
            top: -0.45em
        .ui-widget-content
            background: color-text-dark - 50
            height: 5px
            border-radius: 5px
            border: none


    .controllers
        margin: 8px 0 0 0
        span
            display: inline-block
            color: white
            font-size: 16px
            margin: 0 7px 0 0
        .play-pause
            border-radius: 50px
            text-align: center
            width: 30px
            padding: 4px 0px 0px 4px
            height: 30px


