.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #fff !important;
  background: #2c2d30 !important;
}
.navbar {
  border-bottom: 1px solid #4a4b4e;
}
.navbar.navbar-primary {
  background: #222326;
}
.navbar.navbar-xs {
  min-height: 28px;
  height: 28px;
}
.navbar.navbar-xs .navbar-brand {
  padding: 0px 12px;
  font-size: 16px;
  line-height: 28px;
}
.navbar.navbar-xs .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 28px;
}
.navbar.navbar-sm {
  min-height: 40px;
  height: 40px;
}
.navbar.navbar-sm .navbar-brand {
  padding: 0px 12px;
  font-size: 16px;
  line-height: 40px;
}
.navbar.navbar-sm .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 40px;
}
.navbar.navbar-sm .navbar-nav > li > a:hover,
.navbar.navbar-sm .navbar-nav > li > a:focus,
.navbar.navbar-sm .navbar-nav > li > a:active {
  color: #fff !important;
  background: #2c2d30 !important;
}
.navbar .dropdown-menu {
  background: #2c2d30;
  font-size: 12px;
}
.navbar .dropdown-menu a {
  color: #9b9b9b;
}
.navbar .dropdown-menu a:hover {
  background: #727376;
}
.navbar .form-control {
  width: 150px;
  transition: width 0.2s ease;
}
.navbar .form-control:focus {
  width: 250px;
  outline: none;
  box-shadow: none;
}
.navbar .divider {
  background: #36373a;
}
.navbar .circles.red a {
  color: #fb5f49;
}
.navbar .circles.yellow a {
  color: #fab70e;
}
.navbar .circles.green a {
  color: #1ac632;
}
.navbar .circles:hover {
  background: none;
}
.navbar .circles a {
  padding: 10px 3px;
}
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=latin,latin-ext");
.btn-black {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  color: #fff;
  background-color: #4a4a49;
  border-color: #fff;
}
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  background-image: none;
}
.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #000;
  border-color: #fff;
}
.btn-black .badge {
  color: #000;
  background-color: #fff;
}
.btn-green {
  border: 2px solid #84bd00;
  background: #84bd00;
  color: #fff;
}
.btn-green:hover {
  border: 2px solid #84bd00;
  background: #ace528;
  color: #fff;
}
.btn-border-green {
  border: 2px solid #84bd00;
  background: #121314;
  color: #fff;
}
.btn-border-green:hover {
  border: 2px solid #fff;
  background: #121314;
  color: #fff;
}
.dropdown-menu.dropdown-dark {
  background: #222326;
}
.dropdown-menu.dropdown-dark > li > a {
  color: #86878a;
}
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #121314;
  font-size: 12px;
  font-weight: 300;
}
a {
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #afafaf;
}
hr {
  border-top: 1px solid #36373a;
}
ul {
  margin: 0;
  padding: 0;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.inline {
  display: inline-block;
}
.default {
  margin: 0;
  padding: 0;
}
.btn-round {
  border-radius: 150px;
}
.gapless [class^="col-"] {
  margin: 0;
  padding: 0;
}
.hr-border {
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
}
#layout {
  width: 100%;
  height: 100%;
}
#layout .ui-layout-center,
#layout .ui-layout-east,
#layout .ui-layout-west {
  padding-top: 55px !important;
  padding-bottom: 50px !important;
  background: #121314 !important;
  color: #fff !important;
  border: none !important;
}
#layout .ui-layout-toggler {
  width: 5px !important;
  background: #36373a !important;
}
#layout .ui-layout-resizer {
  width: 5px !important;
  background: #222326 !important;
  border: none !important;
  cursor: col-resize !important;
}
.ui-layout-west {
  padding-left: 20px !important;
}
.ui-layout-west #addPlaylist {
  margin: 30px 0;
}
.ui-layout-west #addPlaylist .form-control {
  margin: 10px 0;
}
.ui-layout-west ul {
  margin: 0 0 30px 0;
  list-style: none;
}
.ui-layout-west ul#browsemenu li,
.ui-layout-west ul#playlist li {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  margin: 7px 0;
  font-size: 14px;
}
.ui-layout-west ul#browsemenu li a,
.ui-layout-west ul#playlist li a {
  text-decoration: none;
}
.ui-layout-west ul#browsemenu li a:hover,
.ui-layout-west ul#playlist li a:hover {
  color: #fff;
}
.ui-layout-west ul#browsemenu li i,
.ui-layout-west ul#playlist li i {
  margin: 0 10px 0 0;
  width: 22px;
  font-size: 16px;
}
.form-control {
  background: #36373a;
  border: none;
  color: #fff;
  height: 23px;
  font-size: 12px;
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}
#playlist-detail .playlist-title h1 {
  margin-bottom: 50px;
  font-weight: 300;
}
#playlist-detail .playlist-info h5 {
  color: #9b9b9b;
  font-size: 13px;
}
#playlist-detail .playlist-info h5 a {
  color: #fff;
}
#playlist-detail .playlist-table {
  font-size: 14px;
}
#playlist-detail .playlist-table .table > thead > tr > th,
#playlist-detail .playlist-table .table > tbody > tr > td {
  border-bottom: 1px solid #2c2d30;
}
#playlist-detail .playlist-table .table > thead > tr > th {
  text-transform: uppercase;
  font-weight: 300;
}
#playlist-detail .playlist-table .table tr {
  font-weight: 400;
}
#playlist-detail .playlist-table .table tr.selected td {
  background: #2c2d30;
}
#playlist-detail .playlist-table .table tr.playing td {
  background: #2c2d30;
  color: #84bd00;
}
#playlist-detail .playlist-table .table-hover tr:hover td {
  background: #222326;
}
#footer-player {
  position: fixed;
  height: 50px;
  width: 100%;
  border-top: 1px solid #2c2d30;
  background: #222326;
  bottom: 0;
  left: 0;
  z-index: 5000;
}
#footer-player .volume-controller {
  margin: 20px 0 0 0;
  position: relative;
}
#footer-player .volume-controller i {
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
}
#footer-player .volume-controller .cdbl-slider {
  width: 80%;
}
#footer-player .volume-controller .ui-slider-range {
  background: #84bd00;
}
#footer-player .volume-controller .ui-slider-handle {
  border: none;
  background: #8f9594;
  border-radius: 50px;
  top: -0.45em;
}
#footer-player .volume-controller .ui-widget-content {
  background: #5d6362;
  height: 5px;
  border-radius: 5px;
  border: none;
}
#footer-player .controllers {
  margin: 8px 0 0 0;
}
#footer-player .controllers span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
  margin: 0 7px 0 0;
}
#footer-player .controllers .play-pause {
  border-radius: 50px;
  text-align: center;
  width: 30px;
  padding: 4px 0px 0px 4px;
  height: 30px;
}
